<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link href="~/Content/js/login/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/js/login/css/demo.css" rel="stylesheet" />
    <!--必要样式-->
    <link href="~/Content/js/login/css/component.css" rel="stylesheet" />
    <!--[if IE]>
        <script src="~/Content/js/login/js/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>欢迎你</h3>
                    <form action="#" name="f" method="post">
                        <div class="input_outer">
                            <span class="u_user"></span>
                            <input id="loginname" name="logname" class="text" onpaste="return false;" style="color: #FFFFFF !important; ime-mode: disabled;" type="text" placeholder="请输入账户">
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input id="loginpassword" name="logpass" class="text" onpaste="return false;" style="color: #FFFFFF !important; position: absolute; z-index: 100; ime-mode: disabled;" value="" type="password" placeholder="请输入密码">
                        </div>
                        <div class="mb2"><a class="act-but submit" href="javascript:Login();" style="color: #FFFFFF">登录</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="~/Content/js/login/js/TweenLite.min.js"></script>
    <script src="~/Content/js/login/js/EasePack.min.js"></script>
    <script src="~/Content/js/login/js/rAF.js"></script>
    <script src="~/Content/js/login/js/demo-1.js"></script>
    <!--Login In-->
    <script src="~/Content/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/plugins/md5/jquery.md5.js"></script>
    <!--业务逻辑处理-->
    <script type="text/javascript">
        function Login() {
            var $loginname = $("#loginname");
            var $loginpassword = $("#loginpassword");
            if ($loginname.val() == "") {
                $loginname.focus();
                alert("请输入账号");
                return;
            }
            if ($loginpassword.val() == "") {
                $loginpassword.focus();
                alert("请输入密码");
                return;
            }

            var loginname = $.trim($("#loginname").val());
            var loginpassword = $.trim($("#loginpassword").val());
            loginpassword = $.md5(loginpassword);

            $.ajax({
                url: "/Login/CheckLogin",
                data: { loginname: $.trim(loginname), loginpassword: $.trim(loginpassword) },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.success == "1") {
                        window.location.href = '/Home/Index';
                    }
                    else {
                        alert(data.message);
                    }
                }
            });
        }
    </script>
</body>
</html>
