<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/js/jquery/jquery-2.1.4.js"></script>
    <!--LayUI-->
    <link href="~/Content/layuiapp/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layuiapp/layui/layui.js"></script>
    <!--扩展-->
    <script src="~/Content/js/custom/PinYinHelper.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
