<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MTConnStr" connectionString="Server=.;Initial Catalog=MT;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="MTEntities" connectionString="metadata=res://*/MT.csdl|res://*/MT.ssdl|res://*/MT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MT;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>