<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ===========0:引用DLL添加============ -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ===========1:系统开发相关配置============ -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 保存Session或Cookie值的键-->
  <add key="LoginUserKey" value="MT_LoginUserKey_2018" />
</appSettings>