<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ===========0:引用DLL添加============ -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ===========1:系统开发相关配置============ -->
  <!--密码DES加密时使用的秘钥，最好不要修改。修改前后，用户登录时密码会匹配失败，也就无法登录-->
  <add key="PasswordSecretKey" value="MTPassword"/>
</appSettings>