<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ===========0:引用DLL添加============ -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ===========1:系统开发相关配置============ -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 保存Session或Cookie值的键-->
  <add key="LoginUserKey" value="MT_LoginUserKey_2018" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.MT.com" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="MT网络科技" />
  <!-- 系统名称 -->
  <add key="SystemName" value="MT后台管理" />
  <!-- 软件名称 -->
  <add key="SoftName" value="MT软件系统" />
</appSettings>