@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="mt-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">项目编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="F_ItemCode" lay-verify="required" autocomplete="off" placeholder="请输入项目编码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">项目名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_ItemName" name="F_ItemName" lay-verify="required" placeholder="请输入项目名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">助记码</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_HelpCode" name="F_HelpCode" lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled" readonly="readonly">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-inline">
                            <input type="text" name="F_Sort" lay-verify="required|number" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否可用 </label>
                    <div class="layui-input-block">
                        <input type="checkbox" checked="" id="F_isEnable" name="F_isEnable" lay-skin="switch" lay-filter="component-form-switchTest" lay-text="是|否">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="F_Remark" placeholder="请输入备注" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="mt-form-submit" id="mt-form-submit" value="确认添加">
                    <input type="button" lay-submit lay-filter="mt-form-edit" id="mt-form-edit" value="确认编辑">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.config({
        base: "/Content/layuiapp/custom/" //存放拓展模块的根目录
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
         , admin = layui.admin
         , element = layui.element
         , layer = layui.layer
         , form = layui.form;

        //元素的初始化
        var FormType = request('FormType');
        var F_IDValue = request('F_IDValue');
        if (FormType != "" && FormType != null && FormType != undefined && (FormType == "UPDATE" || FormType == "VIEW")) {
            $.post("/SystemManage/DataItem/GetForm", { F_IDValue: F_IDValue },
            function (result) {
                var resultJson = JSON.parse(result);
                if (resultJson.code == "1") {
                    var model = JSON.parse(resultJson.msg);
                    form.val("mt-form", {
                        "F_ItemCode": model.F_ItemCode
                        , "F_ItemName": model.F_ItemName
                        , "F_HelpCode": model.F_HelpCode
                        , "F_Sort": model.F_Sort
                        , "F_isEnable": model.F_isEnable == "1" ? true : false
                        , "F_Remark": model.F_Remark
                    });
                    $('input[name="F_ItemCode"]').attr("disabled", "disabled");
                    $('input[name="F_ItemCode"]').attr("readonly", "readonly");
                }
                else {
                    layer.msg(resultJson.msg, { icon: 5 });//提示消息                                        
                }
            });
        }

        //监听提交
        form.on('submit(mt-form-submit)', function (data) {
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  

            //根据参数判断表单类型
            var FormType = request('FormType');
            if (FormType != "" && FormType != null && FormType != undefined && FormType == "UPDATE") {
                var F_IDValue = request('F_IDValue');
                field["F_IDValue"] = F_IDValue;
            }

            field["F_isEnable"] = field["F_isEnable"] == "on" ? 1 : 0;//将on-off 转换为 1-0
            field["FormType"] = FormType;//页面类型

            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.post("/SystemManage/DataItem/SaveForm", field,
            function (result) {
                var resultJson = JSON.parse(result);
                if (resultJson.code == "1") {
                    parent.layui.table.reload('mt-data-table'); //重载表格
                    parent.layer.close(index); //再执行关闭 
                }
                else {
                    layer.msg(resultJson.msg, { icon: 5 });//提示消息                                        
                }
            });
        });
    });
    //生成助记码
    $(function () {
        $("#F_ItemName").keyup(function () {
            $("#F_HelpCode").val(PinyinInitials($(this).val()));
        });
    });
</script>
