USE [master]
GO
/****** Object:  Database [MT]    Script Date: 2018/11/1 21:40:08 ******/
CREATE DATABASE [MT] ON  PRIMARY 
( NAME = N'MT', FILENAME = N'D:\SQLServerDB\MSSQL12.MSSQLSERVER\MSSQL\DATA\MT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MT_log', FILENAME = N'D:\SQLServerDB\MSSQL12.MSSQLSERVER\MSSQL\DATA\MT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MT]
GO
/****** Object:  Table [dbo].[T_BaseInfo]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_BaseInfo](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_CatalogCode] [varchar](200) NULL,
	[F_CatalogName] [nvarchar](4000) NULL,
	[F_ItemCode] [varchar](200) NULL,
	[F_ItemName] [nvarchar](4000) NULL,
	[F_ItemSort] [int] NULL,
	[F_CreateUserID] [uniqueidentifier] NULL,
	[F_CreateUserName] [nvarchar](50) NULL,
	[F_CreateTime] [datetime] NULL,
	[F_ModifyUserID] [uniqueidentifier] NULL,
	[F_ModifyUserName] [nvarchar](50) NULL,
	[F_ModifyTime] [datetime] NULL,
	[F_isValid] [int] NULL,
 CONSTRAINT [PK_T_BaseInfo] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Department]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Department](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_Name] [nvarchar](200) NULL,
	[F_ParentID] [uniqueidentifier] NULL,
	[F_isValid] [int] NULL,
	[F_Remark] [nvarchar](200) NULL,
 CONSTRAINT [PK_T_Department] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Log]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Log](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_ControllerName] [varchar](1000) NULL,
	[F_ActionName] [varchar](1000) NULL,
	[F_Title] [varchar](max) NULL,
	[F_Content] [varchar](max) NULL,
	[F_LogType] [varchar](200) NULL,
	[F_LogTypeName] [nvarchar](4000) NULL,
	[F_WriteTime] [datetime] NULL,
	[F_isValid] [int] NULL,
	[F_UserName] [nvarchar](20) NULL,
	[F_LoginName] [varchar](50) NULL,
 CONSTRAINT [PK_T_Log] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Menu]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Menu](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_MenuName] [nvarchar](200) NULL,
	[F_Link] [varchar](2000) NULL,
	[F_ParentID] [uniqueidentifier] NULL,
	[F_Level] [int] NULL,
	[F_Sort] [int] NULL,
	[F_isValid] [int] NULL,
	[F_Remark] [varchar](2000) NULL,
	[F_isPage] [int] NULL,
	[F_Icon] [varchar](200) NULL,
 CONSTRAINT [PK_T_Menu] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Role]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Role](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_RoleName] [nvarchar](200) NULL,
	[F_RoleType] [varchar](20) NULL,
	[F_RoleTypeName] [nvarchar](200) NULL,
	[F_isValid] [int] NULL,
	[F_Remark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_T_Role] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_RoleMenu]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RoleMenu](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_RoleID] [uniqueidentifier] NULL,
	[F_MenuID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_T_RoleMenu] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_User]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_User](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_UserName] [nvarchar](20) NULL,
	[F_LoginName] [varchar](50) NULL,
	[F_Password] [varchar](500) NULL,
	[F_isValid] [int] NULL,
	[F_Remark] [nvarchar](1000) NULL,
 CONSTRAINT [PK_T_User] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_UserRole]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UserRole](
	[F_ID] [uniqueidentifier] NOT NULL,
	[F_UserID] [uniqueidentifier] NULL,
	[F_RoleID] [uniqueidentifier] NULL,
	[F_isValid] [int] NULL,
 CONSTRAINT [PK_T_UserRole] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[T_BaseInfo] ([F_ID], [F_CatalogCode], [F_CatalogName], [F_ItemCode], [F_ItemName], [F_ItemSort], [F_CreateUserID], [F_CreateUserName], [F_CreateTime], [F_ModifyUserID], [F_ModifyUserName], [F_ModifyTime], [F_isValid]) VALUES (N'0e4c30b2-71bc-44e9-930d-07c1d3770a85', N'F_LogType', N'日志类别', N'1', N'登录', 1, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[T_BaseInfo] ([F_ID], [F_CatalogCode], [F_CatalogName], [F_ItemCode], [F_ItemName], [F_ItemSort], [F_CreateUserID], [F_CreateUserName], [F_CreateTime], [F_ModifyUserID], [F_ModifyUserName], [F_ModifyTime], [F_isValid]) VALUES (N'a404cb78-6f91-4695-b6a0-1fbe4554545f', N'F_LogType', N'日志类别', N'4', N'离开', 1, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[T_BaseInfo] ([F_ID], [F_CatalogCode], [F_CatalogName], [F_ItemCode], [F_ItemName], [F_ItemSort], [F_CreateUserID], [F_CreateUserName], [F_CreateTime], [F_ModifyUserID], [F_ModifyUserName], [F_ModifyTime], [F_isValid]) VALUES (N'466a2605-b29e-47d3-8232-29609dc5da9a', N'F_LogType', N'日志类别', N'8', N'提交', 1, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[T_Log] ([F_ID], [F_ControllerName], [F_ActionName], [F_Title], [F_Content], [F_LogType], [F_LogTypeName], [F_WriteTime], [F_isValid], [F_UserName], [F_LoginName]) VALUES (N'3ea2a7a4-df55-454a-bbf4-060b405aff00', N'Login', N'CheckLogin', N'登录日志', N'登录成功', N'1', N'登录', CAST(N'2018-10-23 22:48:14.727' AS DateTime), 1, N'20:36', N'admin')
INSERT [dbo].[T_Log] ([F_ID], [F_ControllerName], [F_ActionName], [F_Title], [F_Content], [F_LogType], [F_LogTypeName], [F_WriteTime], [F_isValid], [F_UserName], [F_LoginName]) VALUES (N'b59e301f-2af3-4290-ace7-140df0280746', N'Login', N'CheckLogin', N'登录日志', N'登录成功', N'1', N'登录', CAST(N'2018-11-01 19:47:10.717' AS DateTime), 1, N'马特', N'admin')
INSERT [dbo].[T_Log] ([F_ID], [F_ControllerName], [F_ActionName], [F_Title], [F_Content], [F_LogType], [F_LogTypeName], [F_WriteTime], [F_isValid], [F_UserName], [F_LoginName]) VALUES (N'729dc42c-c7ca-46ff-bba1-19226b5ad5c7', N'Login', N'CheckLogin', N'登录日志', N'登录成功', N'1', N'登录', CAST(N'2018-10-23 22:52:35.477' AS DateTime), 1, N'20:36', N'admin')
INSERT [dbo].[T_Menu] ([F_ID], [F_MenuName], [F_Link], [F_ParentID], [F_Level], [F_Sort], [F_isValid], [F_Remark], [F_isPage], [F_Icon]) VALUES (N'36fbf31a-8404-406b-96f9-136370c53b1f', N'工作任务', N'/CooperativeWork/WorkTask/Index', N'70a41e6a-7d07-452e-a887-75626b6c8a40', 2, 2, 1, N'', 1, N'')
INSERT [dbo].[T_Menu] ([F_ID], [F_MenuName], [F_Link], [F_ParentID], [F_Level], [F_Sort], [F_isValid], [F_Remark], [F_isPage], [F_Icon]) VALUES (N'dc4217c6-1510-4398-87ef-17ff55a124db', N'统计报表', N'/FinancialManage/IncomeStatement/Index', N'2d40186a-50db-4a50-88e8-a6267eb81dc7', 2, 4, 1, N'', 1, N'')
INSERT [dbo].[T_Menu] ([F_ID], [F_MenuName], [F_Link], [F_ParentID], [F_Level], [F_Sort], [F_isValid], [F_Remark], [F_isPage], [F_Icon]) VALUES (N'b93aabf1-3737-412a-9d51-198584c6d6ee', N'角色管理', N'/SystemManage/RoleManage/Index', N'ee56bd0d-aed0-4d79-917d-dcde5241df33', 2, 4, 1, N'', 1, N'')
INSERT [dbo].[T_Role] ([F_ID], [F_RoleName], [F_RoleType], [F_RoleTypeName], [F_isValid], [F_Remark]) VALUES (N'03383fa0-765b-4c68-b9e8-747e715d193a', N'管理员', N'', N'', 1, N'')
INSERT [dbo].[T_Role] ([F_ID], [F_RoleName], [F_RoleType], [F_RoleTypeName], [F_isValid], [F_Remark]) VALUES (N'8b4c27c8-e600-4b71-a90d-f27c966543d5', N'系统管理员', N'', N'', 1, N'')
INSERT [dbo].[T_RoleMenu] ([F_ID], [F_RoleID], [F_MenuID]) VALUES (N'39aa7ce6-3f7c-4676-aec5-06a0ab4e0663', N'8b4c27c8-e600-4b71-a90d-f27c966543d5', N'79d81171-6508-4f00-bfdd-5127426c5ada')
INSERT [dbo].[T_RoleMenu] ([F_ID], [F_RoleID], [F_MenuID]) VALUES (N'7c31a491-9b30-426d-b49e-0e0483070920', N'8b4c27c8-e600-4b71-a90d-f27c966543d5', N'a1a75880-48f4-4b0f-ba38-dd64e8fac98e')
INSERT [dbo].[T_RoleMenu] ([F_ID], [F_RoleID], [F_MenuID]) VALUES (N'5d90fcf9-3daa-49d6-bbec-1b3e72b8b022', N'8b4c27c8-e600-4b71-a90d-f27c966543d5', N'caa566f2-ab90-490c-beca-f2d04e249311')
INSERT [dbo].[T_User] ([F_ID], [F_UserName], [F_LoginName], [F_Password], [F_isValid], [F_Remark]) VALUES (N'259e4c58-6719-4896-904c-f090e3f45514', N'马特', N'admin', N'67214ad3095e80274f96c8a7ff157032', 1, NULL)
INSERT [dbo].[T_UserRole] ([F_ID], [F_UserID], [F_RoleID], [F_isValid]) VALUES (N'64977bbf-c717-4ef0-ba87-25ac32c7edc8', N'259e4c58-6719-4896-904c-f090e3f45514', N'8b4c27c8-e600-4b71-a90d-f27c966543d5', 1)
/****** Object:  StoredProcedure [dbo].[Proc_GetLogList]    Script Date: 2018/11/1 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author>
-- Create date: <2018-10-31>
-- Description:	<获取日志列表>
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetLogList]
	@sqlWhere varchar(max),--查询条件                             
	@orderSort varchar(1000),--排序规则
	@StartIndex varchar(100),--开始索引
	@EndIndex varchar(100)--结束索引
AS
BEGIN
	DECLARE @sqlQuery varchar(max)--查询语句  

	 SET @sqlQuery=  
		'  
		;with tempWith AS
		(    
			select * 
			from T_Log
			where 1=1' + @sqlWhere + '  
		)                                                             
		select *                                  
		into #tempTable                                
		FROM 
		(                                      
		select (select count(0) from tempWith) as TotalNumber,ROW_NUMBER() OVER(ORDER BY '+@ordersort+') SerialNumber,*                                       
		FROM tempWith                                    
		)temp                            
	   where  SerialNumber between '+@StartIndex+' and '+@EndIndex+' order by SerialNumber asc ;   
	   select * from #tempTable  order by SerialNumber                           
		drop table #tempTable      
		';  

	--PRINT @sqlQuery;  
	EXEC (@sqlQuery);  
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GUID主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目录编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_CatalogCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目录名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_CatalogName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_ItemCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_ItemName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目排序序号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_ItemSort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建者UserID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_CreateUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建者姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人UserID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_ModifyUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有效(0删除1有效)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo', @level2type=N'COLUMN',@level2name=N'F_isValid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础信息表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BaseInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Department', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Department', @level2type=N'COLUMN',@level2name=N'F_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级部门编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Department', @level2type=N'COLUMN',@level2name=N'F_ParentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Department', @level2type=N'COLUMN',@level2name=N'F_isValid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Department', @level2type=N'COLUMN',@level2name=N'F_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GUID主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Controller控制器名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_ControllerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Action方法名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_ActionName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_Content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志类型编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_LogType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志类型名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_LogTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'记录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_WriteTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有效(0删除1有效)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_isValid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_UserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户登录名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log', @level2type=N'COLUMN',@level2name=N'F_LoginName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Log'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Menu', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Menu', @level2type=N'COLUMN',@level2name=N'F_MenuName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级菜单编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Menu', @level2type=N'COLUMN',@level2name=N'F_ParentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单级别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Menu', @level2type=N'COLUMN',@level2name=N'F_Level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Menu', @level2type=N'COLUMN',@level2name=N'F_Sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Menu', @level2type=N'COLUMN',@level2name=N'F_isValid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Menu', @level2type=N'COLUMN',@level2name=N'F_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GUID主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Role', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Role', @level2type=N'COLUMN',@level2name=N'F_RoleName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色类别编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Role', @level2type=N'COLUMN',@level2name=N'F_RoleType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色类别名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Role', @level2type=N'COLUMN',@level2name=N'F_RoleTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Role', @level2type=N'COLUMN',@level2name=N'F_isValid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Role', @level2type=N'COLUMN',@level2name=N'F_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RoleMenu', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RoleMenu', @level2type=N'COLUMN',@level2name=N'F_RoleID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RoleMenu', @level2type=N'COLUMN',@level2name=N'F_MenuID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GUID主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_User', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_User', @level2type=N'COLUMN',@level2name=N'F_UserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_User', @level2type=N'COLUMN',@level2name=N'F_LoginName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_User', @level2type=N'COLUMN',@level2name=N'F_Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_User', @level2type=N'COLUMN',@level2name=N'F_isValid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_User', @level2type=N'COLUMN',@level2name=N'F_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GUID主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_UserRole', @level2type=N'COLUMN',@level2name=N'F_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户表主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_UserRole', @level2type=N'COLUMN',@level2name=N'F_UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色表主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_UserRole', @level2type=N'COLUMN',@level2name=N'F_RoleID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_UserRole', @level2type=N'COLUMN',@level2name=N'F_isValid'
GO
USE [master]
GO
